extends layout

block content
  .slide-box
    .slide-block
      h3 Showing #{total_count} slides
      .slides
        each slideshow in slideshows
          .slide
            .header
              h3
                a(href="/slideshows/"+slideshow.id)=slideshow.title
              span.time= slideshow.created
            .slide_meta
              .author= slideshow.username
              span.domain
                a(href=slideshow.url) www.slideshare.net
            .description= slideshow.description
            .embed!= slideshow.embed
            p.tags
              each tag in slideshow.tags
                a(href="#")= tag
      .pagination
        unless current_page == 1
          a.previous_page(href="?page="+(current_page-1)) ← Previous
        unless current_page == total_page
          a.next_page(href="?page="+(current_page+1)) Next →
